@import "functions";

@font-face{
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face{
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light.ttf');
}

$FormX : 40%;
$FormY : 10vh;

*{
    margin : 0px;
    padding : 0px;
}

body{
    background:#2A2A2B !important;
    width : 100%;
    color : white !important;

    /*All windown parent*/
    .parent-box{
        position : relative;
        padding: 5% 35% 20% 35%;
    }

    .logo-so{
        text-align: center;
        padding-top: 5%;
        img{
            width: 10%;
            height: 10%;
        }
    }

    .render-box{
        height: 22vh;
        overflow-y: auto;

        .select-user{

            height: 20%;

            .card-user{
                display: flex;
                /*background-color: rgba(0, 1, 0, .5);*/
                padding: .3rem;
                border-radius: .2rem;
                margin-bottom: 3px;
                //Animations
                -webkit-transition : all .3s;
                        transition : all .3s;

                &:hover{
                    -webkit-transition : all .3s;
                            transition : all .3s;
                    background-color: rgba(35, 149, 242, 0.61);
                }

                p{
                    padding: 7% 0% 0% 7%;
                    font-size: 1rem;
                    font-family: 'OpenSans';
                }
            }
        }

        .user-img{
            @include config(5rem,5rem,none);
        }
    }

    .hide{
        display: none;
    }

}


.bar{

    /*style-color*/
    background: linear-gradient(#181818,black);
    height: 3%;

    .activity-bar{
        text-align: center;
        border-radius: 0px 0px 0px 10px;
        @include bar-style(#181818,14%,100%);
    }

    .action-bar{
        text-align: center;
        @include bar-style(#181818,65%,100%);
    }

    .utilities-bar{
        text-align: right;
        border-radius: 0px 0px 10px 0px;
        @include bar-style(#181818,19%,100%);

        span{
            padding: 0px 10px 0px 10px;
            &:hover{
                transition: all .3s;
                color: white;
            }
            width: 4%;
            height: 100%;
        }
    }
}

.formulary-so{
    img{
        display: inline-block !important;
    }
    .text-login{
        display: inline-block !important;
        padding-left: 10% !important;
    }
    .login-form{
        @include config(100%,100%,none);

        .text-login{
            width: 100%;
            color: black;
            border-radius: 10%;
        }

        .picture-login{
            color : white;
            p{
                display: inline-block;
                padding-left: 10%;
            }
        }

        .btn-form{
            text-align: center;
            margin-top: 10%;
            background: linear-gradient(rgb(59, 62, 58),rgb(70, 74, 72));
            border: 1px solid rgb(50, 46, 50);
            border-radius: 10%;
            color: white;
            padding: 5px;
        }
    }
}
