.app-calculator {
  width: 28.5vw;
  height: 50vh;
  background: #F5F5F5;
  border: 0px;
}

.app-calculator .promp-cont {
  width: 100%;
  height: 50%;
  background: transparent;
  font-family: 'OpenSans-Light';
  font-weight: 300;
  font-size: 40px;
  text-align: right;
}

.app-calculator .promp-cont .cal-prev-promp {
  width: 100%;
  height: 60%;
  background: whitesmoke;
}

.app-calculator .promp-cont .cal-promp {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  height: 40%;
  background: white;
  overflow-x: auto;
}

.app-calculator .cal-container {
  padding: 1% 1% 1% 1%;
  width: 98%;
  height: 48%;
  background: transparent;
}

.app-calculator .cal-container .flex-btn {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 25%;
}

.app-calculator .cal-container .flex-btn .btn-n {
  display: inline-block;
  width: 12.6%;
  height: 78%;
  background: linear-gradient(white, #D4D4D4 95%);
  border: #B3B3B3 solid 1px;
  border-radius: 3px;
  margin: 5px 0px 0px 2px;
}

.app-calculator .cal-container .flex-btn .btn-n:hover {
  transition: all .3s;
  background: linear-gradient(white, #D0D0D1 50%);
}

.app-calculator .cal-container .flex-btn .btn-f-igual {
  display: inline-block;
  width: 29.2%;
  height: 78%;
  background: linear-gradient(#4486FF, #327DFF);
  border: #B3B3B3 solid 1px;
  border-radius: 3px;
  margin: 5px 0px 0px 2px;
  color: white;
}

.app-calculator .cal-container .flex-btn .btn-f-igual:hover {
  transition: all .3s;
  background: linear-gradient(#6C9EFF, #327DFF);
}
