.efect-corner {
  display: flex;
}

.efect-corner .left-corn {
  display: inline-block;
  background: transparent;
  width: 14%;
  height: 10px;
  border-radius: 10px 0px 0px 0px;
}

.efect-corner .center-corn {
  width: 100%;
}

.efect-corner .right-corn {
  display: inline-block;
  background: transparent;
  width: 14%;
  height: 10px;
  border-radius: 0px 10px 0px 0px;
}

.white-corner {
  border-top: white solid 1px;
}

.header-box {
  background-color: transparent;
  display: inline-flex;
  /**displays*/
  width: 100%;
  height: 40px;
}

.header-box .info-box {
  display: inline-block;
  background: transparent;
  width: 30%;
  height: 40px;
}

.header-box .search-box {
  display: inline-block;
  background: transparent;
  width: 69%;
  height: 40px;
  display: flex;
}

.header-box .search-box input {
  margin-left: 19%;
  width: 15vw;
  height: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.3) 10%, rgba(255, 255, 255, 0.2));
  margin-top: 1%;
  border: solid white 1px;
  border-radius: 20px 0px 0px 20px;
  font-family: 'OpenSans';
  color: #C3C3C3;
  border-right: 0px;
}

.header-box .search-box input:focus {
  transition: all .5s;
  background: linear-gradient(rgba(0, 0, 0, 0.3) 10%, rgba(255, 255, 255, 0.5));
}

.header-box .search-box .right-search {
  padding: 1px;
  width: 20px;
  height: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.3) 10%, rgba(255, 255, 255, 0.2));
  margin-top: 1%;
  border: solid white 1px;
  border-radius: 0px 20px 20px 0px;
  font-family: 'OpenSans';
  color: #C3C3C3;
  border-left: 0px;
}

.body-box {
  position: relative;
  display: inline-flex;
  width: 100%;
  height: 86vh;
  background-color: transparent;
}

.body-box .items-box {
  display: inline-block;
  background: black;
  width: 70px;
  height: 100%;
  border-top: solid #676767 1px;
  border-right: solid #676767 1px;
  border-bottom: solid #676767 1px;
  border-radius: 0px 5px 5px 0px;
  margin-top: 0%;
  padding: 20px 0px 12px 0px;
}

.body-box .items-box .app-box {
  width: 70px;
  height: 5vh;
  /*box-shadow: 0px 11px 33px -3px white;*/
  margin: 10px 0px 5px 0px;
  background: radial-gradient(at bottom, transparent, rgba(255, 255, 255, 0.17) 0, black);
  text-align: center;
}

.body-box .items-box .app-box:hover {
  transition: all .3s;
  background: radial-gradient(at bottom, transparent, rgba(255, 255, 255, 0.4) 0, black);
}

.body-box .items-box .app-box figure {
  margin: 0px;
}

.body-box .items-box .app-box figure img {
  transition: .3s;
  width: 35px;
  height: 35px;
}

.body-box .applications-box {
  display: inline-block;
  background: transparent;
  width: 91vw;
  height: 85vh;
  display: inline-block;
  padding: 0px 12vw 0px 12vw;
  margin-top: 20px;
  /*width normal 72vw*/
}

.body-box .applications-box .app-box {
  text-align: center;
  display: inline-block;
  width: 8vw;
  height: 11vh;
  padding: 20px;
}

.body-box .applications-box .app-box:hover {
  transition: all .3s;
  background-color: rgba(255, 255, 255, 0.2);
}

.body-box .applications-box .app-box figure {
  display: inline-block;
  margin: 0px;
}

.body-box .applications-box .app-box figure img {
  display: inline-block;
  transition: .3s;
  width: 80px;
  height: 80px;
}

.body-box .applications-box .app-box figure p {
  margin-top: 5px;
  color: white;
}

.body-box .windows-box {
  display: inline-block;
  background: black;
  width: 0vw;
  height: 85vh;
  /*width normal 20vw  */
}

.body-box .windows-box .search-box {
  display: inline-flex;
}

.footer-box .select-box {
  display: inline-block;
  background: transparent;
  width: 100%;
  height: 5vh;
}
